body {
    display: grid;
    align-items: center;
    justify-items: center;
}

.container {
    display: grid;
    grid-template-rows: repeat(16, 75px);
    grid-template-columns: repeat(16, 75px);

    background-color: rgb(177, 174, 174);
}

.square {
    outline: 1px solid black;
    margin-top: 1px;
    margin-left: 1px;
}

.buttons {
    padding: 8px;
    text-align: center;
}

button {
    background-color: rgb(185, 86, 185);
    color: aqua;
    border-radius: 6px;
    border-width: 6px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;

}
